In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_## = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='##',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_##.get_object(Bucket='geocodingaddresses-donotdelete-pr-d1zjgwq9rbmldy',Key='Top Museums in World.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Unnamed: 0,Name,Country Flag/City,Visitors per year,Year Reported
0,0,Louvre,Paris,"10,200,000",2018
1,1,National Museum of China,Beijing,"8,610,092",2018
2,2,Metropolitan Museum of Art[b],New York City,"6,953,927",2018
3,3,Vatican Museums,Vatican City,"6,756,186",2018
4,4,National Air and Space Museum,"Washington, D.C.","6,200,000",2018

In [8]:
df_data_1.drop(columns=['Unnamed: 0'])

,Name,Country Flag/City,Visitors per year,Year Reported
0,Louvre,Paris,"10,200,000",2018
1,National Museum of China,Beijing,"8,610,092",2018
2,Metropolitan Museum of Art[b],New York City,"6,953,927",2018
3,Vatican Museums,Vatican City,"6,756,186",2018
4,National Air and Space Museum,"Washington, D.C.","6,200,000",2018
5,Tate Modern,London,"5,868,562",2018
6,British Museum,London,"5,829,000",2018
7,National Gallery,London,"5,735,831",2018
8,Natural History Museum,London,"5,226,000",2018
9,American Museum of Natural History,New York City,"5,000,000",2018
10,National Museum of Natural History,"Washington, D.C.","4,800,000",2018
11,National Gallery of Art,"Washington, D.C.","4,404,212",2018
12,China Science and Technology Museum,Beijing,"4,400,000",2018
13,State Hermitage Museum,Saint Petersburg,"4,294,000",2018
14,Zhejiang Museum,Hangzhou,"4,200,000",2018
15,Victoria and Albert Museum,London,"3,967,566",2018
16,Reina Sofía,Madrid,"3,898,309",2018
17,National Palace Museum[c],Taipei,"3,860,644",2018
18,National Museum of American History,"Washington, D.C.","3,800,000",2018
19,Nanjing Museum,Nanjing,"3,670,000",2018
20,Hunan Museum,Changsha,"3,600,000",2018
21,Centre Pompidou,Paris,"3,551,544",2018
22,Shanghai Science and Technology Museum,Shanghai,"3,540,000",2018
23,Gansu Provincial Museum,Lanzhou,"3,500,000",2018
24,National Museum of Korea,Seoul,"3,300,000",2018
25,London Science Museum,London,"3,286,000",2018
26,Musée d'Orsay,Paris,"3,175,000",2018
27,Somerset House,London,"3,143,626",2018
28,National Museum of Natural Science,Taichung,"2,963,857",2018
29,Museo del Prado,Madrid,"2,893,000",2018
30,Mevlana Museum,Konya,"2,817,386",2018
31,Shaanxi History Museum,Xi'an,"2,800,000",2018
32,Tokyo Metropolitan Art Museum,Tokyo,"2,787,770",2018
33,Chengdu Museum [zh],Chengdu,"2,780,000",2018
34,Museum of Modern Art,New York City,"2,774,103",2018
35,National Art Center,Tokyo,"2,717,565",2018
36,National Museum of History,Mexico City,"2,661,615",2018
37,Royal Museums Greenwich,London,"2,549,833",2018
38,National Museum of Nature and Science,Tokyo,"2,460,000",2018
39,National Museum of Anthropology,Mexico City,"2,596,725",2018
40,NGV International,Melbourne,"2,565,474",2018
41,China Art Museum,Shanghai,"2,550,000",2018
42,California Science Center,Los Angeles,"2,520,000",2018
43,Tokyo National Museum,Tokyo,"2,431,073",2018
44,National Museum of African American History an...,"Washington, D.C.","2,400,000",2018
45,Suzhou Museum,Suzhou,"2,340,000",2018
46,Houston Museum of Natural Science,Houston,"2,313,000",2018
47,Donald W. Reynolds Center for American Art and...,Washington D.C.,"2,304,404",2018
48,China Art Museum,Shanghai,"2,300,000",2018
49,Rijksmuseum,Amsterdam,"2,300,000",2018
50,Three Gorges Museum,Chongqing,"2,240,000",2018
51,Cité des Sciences et de l'Industrie,Paris,"2,231,000",2018
52,Galleria degli Uffizi,Florence,"2,230,914",2018
53,National Museum of Scotland,Edinburgh,"2,227,773",2018
54,Russian Museum,Saint Petersburg,"2,192,200",2018
55,Van Gogh Museum,Amsterdam,"2,161,160",2018
56,Tretyakov Gallery,Moscow,"2,148,538",2018
57,Shanghai Museum,Shanghai,"2,111,730",2018
58,Auschwitz-Birkenau Memorial and Museum,Oświęcim,"2,100,000",2018
59,National Folk Museum of Korea,Seoul,"2,054,719",2018

In [11]:
TopMuseums = df_data_1

In [12]:
!pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/9b/33/b93685916130c07325645d06a765dae23f4655b7aeb79c8a96fe9f552e26/googlemaps-3.1.3-py3-none-any.whl
Requirement already satisfied: requests<3.0,>=2.20.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from googlemaps) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Installing collected packages: googlemaps
Successfully installed googlemaps-3.1.3

In [13]:
import googlemaps

In [14]:
#Setup the API Key 

#2.1 Set google api key     
gmaps_key = googlemaps.Client(key='##')

In [15]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.9.11          |           py36_0         147 KB  conda-forge
    openssl-1.1.1c             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    ca-certificates-2019.9.11  |       hecc5488_0         144 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.8.28-0                   --> 2019.9.11-hecc5488_0 conda-forge
    certifi:         2019.9.11-py36_0              --> 2019.9.11-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_2             --> 1.1.1c-h516909a_0    conda-forge


Downloading and Extracting Packages
certifi-2019.9.11    | 147 KB    | ##################################### | 100%
openssl-1.1.1c       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
ca-certificates-2019 | 144 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [16]:
gm = googlemaps.Client(key='##')
gmaps = gm
gmaps

In [17]:
geocode_result = gm.geocode('Louvre, Paris')[0]
geocode_result

{'address_components': [{'long_name': 'Rue de Rivoli',
   'short_name': 'Rue de Rivoli',
   'types': ['route']},
  {'long_name': 'Paris',
   'short_name': 'Paris',
   'types': ['locality', 'political']},
  {'long_name': 'Arrondissement de Paris',
   'short_name': 'Arrondissement de Paris',
   'types': ['administrative_area_level_2', 'political']},
  {'long_name': 'Île-de-France',
   'short_name': 'Île-de-France',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'France',
   'short_name': 'FR',
   'types': ['country', 'political']},
  {'long_name': '75001', 'short_name': '75001', 'types': ['postal_code']}],
 'formatted_address': 'Rue de Rivoli, 75001 Paris, France',
 'geometry': {'location': {'lat': 48.8606111, 'lng': 2.337644},
  'location_type': 'GEOMETRIC_CENTER',
  'viewport': {'northeast': {'lat': 48.8619600802915,
    'lng': 2.338992980291502},
   'southwest': {'lat': 48.8592621197085, 'lng': 2.336295019708498}}},
 'place_id': 'ChIJD3uTd9hx5kcR1IQvGfr8dbk',
 'plus_code': {'compound_code': 'V86Q+63 Paris, France',
  'global_code': '8FW4V86Q+63'},
 'types': ['establishment',
  'museum',
  'point_of_interest',
  'tourist_attraction']}

In [18]:
#Determine the different fields in the google dowload 
geocode_result.keys()

dict_keys(['address_components', 'formatted_address', 'geometry', 'place_id', 'plus_code', 'types'])

In [19]:
#Determine the different fields in the google dowload 
geocode_result['geometry']

{'location': {'lat': 48.8606111, 'lng': 2.337644},
 'location_type': 'GEOMETRIC_CENTER',
 'viewport': {'northeast': {'lat': 48.8619600802915, 'lng': 2.338992980291502},
  'southwest': {'lat': 48.8592621197085, 'lng': 2.336295019708498}}}

In [20]:
#Determine the different fields in the google dowload and narrow the search results to Lat and Lng
geocode_result['geometry']['location']

{'lat': 48.8606111, 'lng': 2.337644}

In [21]:
latlong = geocode_result
latlong

{'address_components': [{'long_name': 'Rue de Rivoli',
   'short_name': 'Rue de Rivoli',
   'types': ['route']},
  {'long_name': 'Paris',
   'short_name': 'Paris',
   'types': ['locality', 'political']},
  {'long_name': 'Arrondissement de Paris',
   'short_name': 'Arrondissement de Paris',
   'types': ['administrative_area_level_2', 'political']},
  {'long_name': 'Île-de-France',
   'short_name': 'Île-de-France',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'France',
   'short_name': 'FR',
   'types': ['country', 'political']},
  {'long_name': '75001', 'short_name': '75001', 'types': ['postal_code']}],
 'formatted_address': 'Rue de Rivoli, 75001 Paris, France',
 'geometry': {'location': {'lat': 48.8606111, 'lng': 2.337644},
  'location_type': 'GEOMETRIC_CENTER',
  'viewport': {'northeast': {'lat': 48.8619600802915,
    'lng': 2.338992980291502},
   'southwest': {'lat': 48.8592621197085, 'lng': 2.336295019708498}}},
 'place_id': 'ChIJD3uTd9hx5kcR1IQvGfr8dbk',
 'plus_code': {'compound_code': 'V86Q+63 Paris, France',
  'global_code': '8FW4V86Q+63'},
 'types': ['establishment',
  'museum',
  'point_of_interest',
  'tourist_attraction']}

In [22]:
df = TopMuseums

In [23]:
Google_address = df.Name.unique()
Google_address

array(['Louvre', 'National Museum of China',
       'Metropolitan Museum of Art[b]', 'Vatican Museums',
       'National Air and Space Museum', 'Tate Modern', 'British Museum',
       'National Gallery', 'Natural History Museum',
       'American Museum of Natural History',
       'National Museum of Natural History', 'National Gallery of Art',
       'China Science and Technology Museum', 'State Hermitage Museum',
       'Zhejiang Museum', 'Victoria and Albert Museum', 'Reina Sofía',
       'National Palace Museum[c]', 'National Museum of American History',
       'Nanjing Museum', 'Hunan Museum', 'Centre Pompidou',
       'Shanghai Science and Technology Museum',
       'Gansu Provincial Museum', 'National Museum of Korea',
       'London Science Museum', "Musée d'Orsay", 'Somerset House',
       'National Museum of Natural Science', 'Museo del Prado',
       'Mevlana Museum', 'Shaanxi History Museum',
       'Tokyo Metropolitan Art Museum', 'Chengdu Museum [zh]',
       'Museum of Modern Art', 'National Art Center',
       'National Museum of History', 'Royal Museums Greenwich',
       'National Museum of Nature and Science',
       'National Museum of Anthropology', 'NGV International',
       'China Art Museum', 'California Science Center',
       'Tokyo National Museum',
       'National Museum of African American History an...',
       'Suzhou Museum', 'Houston Museum of Natural Science',
       'Donald W. Reynolds Center for American Art and...', 'Rijksmuseum',
       'Three Gorges Museum', "Cité des Sciences et de l'Industrie",
       'Galleria degli Uffizi', 'National Museum of Scotland',
       'Russian Museum', 'Van Gogh Museum', 'Tretyakov Gallery',
       'Shanghai Museum', 'Auschwitz-Birkenau Memorial and Museum',
       'National Folk Museum of Korea'], dtype=object)

In [25]:
#Set up the for loop and search for each lat an Lng for each address 
# Define Geocode and Latlong above to enable the For Loop 
#Setup an exception Index Error in an event the address in not found 
#Write the results to the Dataframe storing the relevant infromation 

for address in Google_address:
    single_address = address
    try:
        geocode = gmaps.geocode(single_address)[0]
        latlong = geocode['geometry']['location']
    except IndexError:
        latlog = {'lat': None,
                  ' lng': None}
    
    df.loc[df.Name == address, 'lat'] = latlong['lat']
    df.loc[df.Name == address, 'long'] = latlong['lng']

In [26]:
df

,Unnamed: 0,Name,Country Flag/City,Visitors per year,Year Reported,lat,long
0,0,Louvre,Paris,"10,200,000",2018,48.860611,2.337644
1,1,National Museum of China,Beijing,"8,610,092",2018,39.905094,116.401583
2,2,Metropolitan Museum of Art[b],New York City,"6,953,927",2018,40.779437,-73.963244
3,3,Vatican Museums,Vatican City,"6,756,186",2018,41.906488,12.453641
4,4,National Air and Space Museum,"Washington, D.C.","6,200,000",2018,38.888160,-77.019868
5,5,Tate Modern,London,"5,868,562",2018,51.507595,-0.099356
6,6,British Museum,London,"5,829,000",2018,51.519413,-0.126957
7,7,National Gallery,London,"5,735,831",2018,38.891298,-77.019965
8,8,Natural History Museum,London,"5,226,000",2018,40.781324,-73.973988
9,9,American Museum of Natural History,New York City,"5,000,000",2018,40.781324,-73.973988
10,10,National Museum of Natural History,"Washington, D.C.","4,800,000",2018,38.891266,-77.026065
11,11,National Gallery of Art,"Washington, D.C.","4,404,212",2018,38.891298,-77.019965
12,12,China Science and Technology Museum,Beijing,"4,400,000",2018,40.006054,116.398640
13,13,State Hermitage Museum,Saint Petersburg,"4,294,000",2018,59.939832,30.314560
14,14,Zhejiang Museum,Hangzhou,"4,200,000",2018,30.250467,120.143295
15,15,Victoria and Albert Museum,London,"3,967,566",2018,51.496639,-0.172180
16,16,Reina Sofía,Madrid,"3,898,309",2018,40.407912,-3.694557
17,17,National Palace Museum[c],Taipei,"3,860,644",2018,25.102355,121.548492
18,18,National Museum of American History,"Washington, D.C.","3,800,000",2018,38.891279,-77.030051
19,19,Nanjing Museum,Nanjing,"3,670,000",2018,32.041084,118.825424
20,20,Hunan Museum,Changsha,"3,600,000",2018,28.211871,112.992122
21,21,Centre Pompidou,Paris,"3,551,544",2018,34.041977,-118.255180
22,22,Shanghai Science and Technology Museum,Shanghai,"3,540,000",2018,31.217970,121.541078
23,23,Gansu Provincial Museum,Lanzhou,"3,500,000",2018,36.066788,103.774664
24,24,National Museum of Korea,Seoul,"3,300,000",2018,37.523851,126.980470
25,25,London Science Museum,London,"3,286,000",2018,51.497810,-0.174523
26,26,Musée d'Orsay,Paris,"3,175,000",2018,48.859961,2.326561
27,27,Somerset House,London,"3,143,626",2018,51.511059,-0.117148
28,28,National Museum of Natural Science,Taichung,"2,963,857",2018,29.722100,-95.389614
29,29,Museo del Prado,Madrid,"2,893,000",2018,40.413782,-3.692127
30,32,Mevlana Museum,Konya,"2,817,386",2018,37.870728,32.504999
31,33,Shaanxi History Museum,Xi'an,"2,800,000",2018,34.223520,108.955298
32,34,Tokyo Metropolitan Art Museum,Tokyo,"2,787,770",2018,35.717227,139.773813
33,35,Chengdu Museum [zh],Chengdu,"2,780,000",2018,30.663752,104.044618
34,36,Museum of Modern Art,New York City,"2,774,103",2018,37.785718,-122.401051
35,37,National Art Center,Tokyo,"2,717,565",2018,45.423280,-75.693382
36,38,National Museum of History,Mexico City,"2,661,615",2018,38.891279,-77.030051
37,39,Royal Museums Greenwich,London,"2,549,833",2018,41.019736,-73.622818
38,40,National Museum of Nature and Science,Tokyo,"2,460,000",2018,29.722100,-95.389614
39,41,National Museum of Anthropology,Mexico City,"2,596,725",2018,19.426003,-99.186279
40,42,NGV International,Melbourne,"2,565,474",2018,-37.822594,144.968928
41,43,China Art Museum,Shanghai,"2,550,000",2018,42.521729,-70.892240
42,44,California Science Center,Los Angeles,"2,520,000",2018,34.015788,-118.286209
43,45,Tokyo National Museum,Tokyo,"2,431,073",2018,35.718835,139.776522
44,46,National Museum of African American History an...,"Washington, D.C.","2,400,000",2018,38.891064,-77.032614
45,47,Suzhou Museum,Suzhou,"2,340,000",2018,31.322879,120.627791
46,48,Houston Museum of Natural Science,Houston,"2,313,000",2018,29.722100,-95.389614
47,49,Donald W. Reynolds Center for American Art and...,Washington D.C.,"2,304,404",2018,38.898209,-77.022954
48,50,China Art Museum,Shanghai,"2,300,000",2018,42.521729,-70.892240
49,51,Rijksmuseum,Amsterdam,"2,300,000",2018,52.359998,4.885219
50,52,Three Gorges Museum,Chongqing,"2,240,000",2018,29.562064,106.550416
51,53,Cité des Sciences et de l'Industrie,Paris,"2,231,000",2018,48.895595,2.387900
52,54,Galleria degli Uffizi,Florence,"2,230,914",2018,43.767786,11.255311
53,55,National Museum of Scotland,Edinburgh,"2,227,773",2018,55.947042,-3.189051
54,56,Russian Museum,Saint Petersburg,"2,192,200",2018,44.903393,-93.276085
55,57,Van Gogh Museum,Amsterdam,"2,161,160",2018,52.358416,4.881076
56,58,Tretyakov Gallery,Moscow,"2,148,538",2018,55.741389,37.620864
57,59,Shanghai Museum,Shanghai,"2,111,730",2018,31.228331,121.475528
58,60,Auschwitz-Birkenau Memorial and Museum,Oświęcim,"2,100,000",2018,50.027411,19.201983
59,61,National Folk Museum of Korea,Seoul,"2,054,719",2018,37.581646,126.978995

In [27]:
df.drop(columns=['Unnamed: 0'])
df

,Unnamed: 0,Name,Country Flag/City,Visitors per year,Year Reported,lat,long
0,0,Louvre,Paris,"10,200,000",2018,48.860611,2.337644
1,1,National Museum of China,Beijing,"8,610,092",2018,39.905094,116.401583
2,2,Metropolitan Museum of Art[b],New York City,"6,953,927",2018,40.779437,-73.963244
3,3,Vatican Museums,Vatican City,"6,756,186",2018,41.906488,12.453641
4,4,National Air and Space Museum,"Washington, D.C.","6,200,000",2018,38.888160,-77.019868
5,5,Tate Modern,London,"5,868,562",2018,51.507595,-0.099356
6,6,British Museum,London,"5,829,000",2018,51.519413,-0.126957
7,7,National Gallery,London,"5,735,831",2018,38.891298,-77.019965
8,8,Natural History Museum,London,"5,226,000",2018,40.781324,-73.973988
9,9,American Museum of Natural History,New York City,"5,000,000",2018,40.781324,-73.973988
10,10,National Museum of Natural History,"Washington, D.C.","4,800,000",2018,38.891266,-77.026065
11,11,National Gallery of Art,"Washington, D.C.","4,404,212",2018,38.891298,-77.019965
12,12,China Science and Technology Museum,Beijing,"4,400,000",2018,40.006054,116.398640
13,13,State Hermitage Museum,Saint Petersburg,"4,294,000",2018,59.939832,30.314560
14,14,Zhejiang Museum,Hangzhou,"4,200,000",2018,30.250467,120.143295
15,15,Victoria and Albert Museum,London,"3,967,566",2018,51.496639,-0.172180
16,16,Reina Sofía,Madrid,"3,898,309",2018,40.407912,-3.694557
17,17,National Palace Museum[c],Taipei,"3,860,644",2018,25.102355,121.548492
18,18,National Museum of American History,"Washington, D.C.","3,800,000",2018,38.891279,-77.030051
19,19,Nanjing Museum,Nanjing,"3,670,000",2018,32.041084,118.825424
20,20,Hunan Museum,Changsha,"3,600,000",2018,28.211871,112.992122
21,21,Centre Pompidou,Paris,"3,551,544",2018,34.041977,-118.255180
22,22,Shanghai Science and Technology Museum,Shanghai,"3,540,000",2018,31.217970,121.541078
23,23,Gansu Provincial Museum,Lanzhou,"3,500,000",2018,36.066788,103.774664
24,24,National Museum of Korea,Seoul,"3,300,000",2018,37.523851,126.980470
25,25,London Science Museum,London,"3,286,000",2018,51.497810,-0.174523
26,26,Musée d'Orsay,Paris,"3,175,000",2018,48.859961,2.326561
27,27,Somerset House,London,"3,143,626",2018,51.511059,-0.117148
28,28,National Museum of Natural Science,Taichung,"2,963,857",2018,29.722100,-95.389614
29,29,Museo del Prado,Madrid,"2,893,000",2018,40.413782,-3.692127
30,32,Mevlana Museum,Konya,"2,817,386",2018,37.870728,32.504999
31,33,Shaanxi History Museum,Xi'an,"2,800,000",2018,34.223520,108.955298
32,34,Tokyo Metropolitan Art Museum,Tokyo,"2,787,770",2018,35.717227,139.773813
33,35,Chengdu Museum [zh],Chengdu,"2,780,000",2018,30.663752,104.044618
34,36,Museum of Modern Art,New York City,"2,774,103",2018,37.785718,-122.401051
35,37,National Art Center,Tokyo,"2,717,565",2018,45.423280,-75.693382
36,38,National Museum of History,Mexico City,"2,661,615",2018,38.891279,-77.030051
37,39,Royal Museums Greenwich,London,"2,549,833",2018,41.019736,-73.622818
38,40,National Museum of Nature and Science,Tokyo,"2,460,000",2018,29.722100,-95.389614
39,41,National Museum of Anthropology,Mexico City,"2,596,725",2018,19.426003,-99.186279
40,42,NGV International,Melbourne,"2,565,474",2018,-37.822594,144.968928
41,43,China Art Museum,Shanghai,"2,550,000",2018,42.521729,-70.892240
42,44,California Science Center,Los Angeles,"2,520,000",2018,34.015788,-118.286209
43,45,Tokyo National Museum,Tokyo,"2,431,073",2018,35.718835,139.776522
44,46,National Museum of African American History an...,"Washington, D.C.","2,400,000",2018,38.891064,-77.032614
45,47,Suzhou Museum,Suzhou,"2,340,000",2018,31.322879,120.627791
46,48,Houston Museum of Natural Science,Houston,"2,313,000",2018,29.722100,-95.389614
47,49,Donald W. Reynolds Center for American Art and...,Washington D.C.,"2,304,404",2018,38.898209,-77.022954
48,50,China Art Museum,Shanghai,"2,300,000",2018,42.521729,-70.892240
49,51,Rijksmuseum,Amsterdam,"2,300,000",2018,52.359998,4.885219
50,52,Three Gorges Museum,Chongqing,"2,240,000",2018,29.562064,106.550416
51,53,Cité des Sciences et de l'Industrie,Paris,"2,231,000",2018,48.895595,2.387900
52,54,Galleria degli Uffizi,Florence,"2,230,914",2018,43.767786,11.255311
53,55,National Museum of Scotland,Edinburgh,"2,227,773",2018,55.947042,-3.189051
54,56,Russian Museum,Saint Petersburg,"2,192,200",2018,44.903393,-93.276085
55,57,Van Gogh Museum,Amsterdam,"2,161,160",2018,52.358416,4.881076
56,58,Tretyakov Gallery,Moscow,"2,148,538",2018,55.741389,37.620864
57,59,Shanghai Museum,Shanghai,"2,111,730",2018,31.228331,121.475528
58,60,Auschwitz-Birkenau Memorial and Museum,Oświęcim,"2,100,000",2018,50.027411,19.201983
59,61,National Folk Museum of Korea,Seoul,"2,054,719",2018,37.581646,126.978995

In [28]:
df.to_csv('Top_museums_Lat_Lng.csv')